<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <queries> -->
    <!-- &lt;!&ndash; List of apps which you want to support for Intent pay &ndash;&gt; -->
    <!-- <package android:name="com.google.android.apps.nbu.paisa.user" /> -->
    <!-- <package android:name="com.phonepe.app" /> -->
    <!-- &lt;!&ndash; -->
    <!-- Specific intents you query for, -->
    <!-- eg: for a custom share UI -->
    <!-- &ndash;&gt; -->
    <!-- <intent> -->
    <!-- <action android:name="android.intent.action.SEND" /> -->
    <!-- </intent> -->
    <!-- </queries> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gm.permission.READ_GMAIL" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light"
        tools:targetApi="31">
        <activity
            android:name=".adminActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"/>
        <activity
            android:name=".adminLogin"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"/>
        <activity
            android:name=".QRActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".UpiActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".BookParkingActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=AIza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.Material3.Light.NoActionBar" /> <!-- <receiver -->
        <!-- android:name="com.razorpay.RzpTokenReceiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="rzp.device_token.share" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <activity -->
        <!-- android:name="com.razorpay.CheckoutActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:exported="true" -->
        <!-- android:theme="@style/CheckoutTheme"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <data -->
        <!-- android:host="rzp.io" -->
        <!-- android:scheme="io.rzp" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="${RAZORPAY_API_KEY}" />
    </application>

</manifest>